@model EmployeeViewModel

@{
    ViewBag.Title = "New Instructor";
}




@{Html.RenderAction("AdminNameGet", "Admin"); }

<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <h4 class="page-section-heading">New Instructor</h4>
                    <hr />
                    <div class="panel-body">
                        @using (Html.BeginForm("RegisterInstructor", "Instructors", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-control-material static required">
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control used", @placeholder = "Your first name", value = "" } })
                                        @Html.LabelFor(model => model.FirstName)
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-control-material static required">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control used", @placeholder = "Your last name", value = "" } })
                                        @Html.LabelFor(model => model.LastName)
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group form-control-material static required">
                                @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control used", @placeholder = "Contact #", value = "" })
                                @Html.LabelFor(model => model.ContactNumber)
                                @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                            </div>
                            <br />
                            <div class="form-group form-control-material static required">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control used", @placeholder = "Email", value = "" })
                                @Html.LabelFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <br />
                            <div class="form-group form-control-material static required">
                                @Html.DropDownListFor(model => model.Gender, new SelectListItem[]
                                    {
                                        new SelectListItem() {Value="Male",Text="Male" },
                                        new SelectListItem() { Value = "Female", Text = "Female" },
                                    }, "Select Gender", new { @class = "form-control used" })
                                @Html.LabelFor(model => model.Gender)
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>
                            <br />
                            <div class="form-group form-control-material static required">
                                @Html.DropDownList("role", new SelectListItem[]
                                    {
                                        new SelectListItem() {Value="instructor",Text="instructor" },
                                    }, "Select Role", new { @class = "form-control used" })
                                @Html.LabelFor(model => model.Role)
                                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                            </div>
                            <br />

                            <button type="submit" class="btn btn-primary">Submit</button>
                        }
                    </div>
                </div>
                <br />
                <br />
            </div>
            @{ Html.RenderPartial("~/Views/Admin/_AccountManageBarAdmin.cshtml");}
        </div>
    </div>
</div>