@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                <h4 class="page-section-heading">Sign Up</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group form-control-material static required">
                                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control used", @placeholder = "Old Password", value = "" })
                                @Html.LabelFor(model => model.OldPassword)
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-control-material static required">
                                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control used", @placeholder = "New Password", value = "" })
                                        @Html.LabelFor(model => model.NewPassword)
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-control-material static required">
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control used", @placeholder = "Confirm New Password", value = "" })
                                        @Html.LabelFor(model => model.ConfirmPassword)
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" value="Change password" class="btn btn-success btn-stroke"><span><i class="fa fa-check-circle"></i></span> Change password</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>