
<div class="col-md-3">
    <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
        <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">My Account</h4>
        </div>
        <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("DashBoard", "Admin")">Dashboard <i class="fa fa-dashboard" style="float:right;"></i></a></li>
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("RegisterAdmin", "Admin")">New Admin <i class="icon-user-1" style="float:right;"></i></a></li>
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("GetAllUsers","Admin")">Users List <i class="fa fa-list" style="float:right;"></i></a></li>
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("EnrolManage", "Admin")">Enrollment Requests <i class="md-assignment-turned-in" style="float:right;"></i></a></li>


                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("Create", "Courses")">Create Course <i class="md-laptop-chromebook" style="float:right;"></i></a></li>
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("AllCourses", "Courses")">Courses List <i class="fa fa-list" style="float:right;"></i></a></li>
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("CreateBatch", "Courses")">Create New Batch <i class="md-laptop-mac" style="float:right;"></i></a></li>
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("BatchList", "Admin")">Batches List <i class="md-list" style="float:right;"></i></a></li>
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("Create", "Gallerie")">Upload Images <i class="md-image" style="float:right;"></i></a></li>
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("ImageList", "Admin")">All Images <i class="md-list" style="float:right;"></i></a></li>
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("SendSMS", "Admin")">Send SMS <i class="fa fa-mobile" style="float:right;"></i></a></li>

                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("RegisterInstructor", "Instructors")">New Instructor <i class="icon-user-1" style="float:right;"></i></a></li>


                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("StudentFeeCreate", "Payments")">Add Student Fee<i class="icon-cash-money" style="float:right;"></i></a></li>
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("StudentFeeList", "Payments")">Fee List<i class="fa fa-list" style="float:right;"></i></a></li>


                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("Create", "Payments")">Create Instructor Payment  <i class="icon-cash-money" style="float:right;"></i></a></li>
                <li class="list-group-item"><a class="link-text-color" href="@Url.Action("index", "Payments")">Payment List  <i class="fa fa-list" style="float:right;"></i></a></li>
            </ul>
        </div>
    </div>
</div>