@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                <h4 class="page-section-heading">Forgot Password</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Enter your email.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-control-material static required">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control used" })
                                        @Html.LabelFor(model => model.Email)
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success btn-stroke"> Send Email</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>