@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                <h4 class="page-section-heading">Forgot Password</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Reset your password.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Code)
                            <div class="form-group form-control-material static required">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control used" })
                                @Html.LabelFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-control-material static required">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control used", @placeholder = "Password" } })
                                        @Html.LabelFor(model => model.Password)
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-control-material static required">
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control used", @placeholder = "Confirm Password" } })
                                        @Html.LabelFor(model => model.ConfirmPassword)
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success btn-stroke">Reset</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>